.accordion {
  position: relative;
  &__button {
    margin: 0;
    margin-top: -$border-width;
    padding: $spacer-base;
    border: {
      top: $border-width solid $gray-400;
      bottom: $border-width solid $gray-400;
      left: 0;
      right: 0;
    }
    text-transform: uppercase;
    color: $secondary; 
    cursor: pointer;
    width: 100%;
    text-align: center;
    background-color: transparent;
    strong {
      &:after {
        position: relative;
        left: $spacer-sm;
        font-family: "Material Icons";
        content: "\e145";
        vertical-align: bottom;
      }
    }
    &.is-active {
      strong {
        &:after {
          content: "\e15b";
        }
      }
      & + .accordion-content {
        padding: $spacer-base;
      }
    }
  }
  &-content {
    margin-bottom: 0!important;
    padding: 0 $spacer-base;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s $ease-out-cubic;
  }
}
