.page-header {
  position: relative;
  .row {
    align-items: center;
  }
  &_top, &_bottom {
    padding: $spacer 0;
    .langs {
      @include lg(display, none);
    }
  }
  &_top {
    p {
      @include fluid($vw-576, $vw-1200, rem-calc(10px), rem-calc(18px));
    }
  }
  &_bottom {
    background-color: $secondary;
    .langs {
      @include lg(display, block);
      @include from($break_lg) {
        display: none;
      }
      a {
        color: $white;
      }
    }
  }
  .langs {
    @include col();
    margin-left: auto;
    &__list {
      display: inline-flex;
      &-item {
        a {
          display: inline-block;
          margin-left: $spacer/2;
          text-transform: uppercase;
          font-weight: $font-weight-bold;          
          &.is-active {
            color: $primary;
          }
        }
      }
    }
  }
  &__nav {
    width: 100%;
    max-width: 250px;
    padding: $spacer * 2 0;
    position: absolute;
    top: 0;
    left: -250px;
    background-color: $secondary;
    z-index: 999;
    transition: 0.3s $ease-out-cubic;
    &.is-show {
      @include lg(left, 0);
    }
    @include from($break_lg) {
      max-width: none;
      position: relative;
      left: 0;
      top: auto;
      padding: 0;
      z-index: auto;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include from($break_lg) {
        flex-direction: row;
      }
    }
    &-item {
      &.current {
        a {
          color: $black;
        }
      }
      &:first-child { 
        a {
          @include from($break_lg) {
            padding-left: 0;
          }
        }
      }
      a {
        display: inline-block;
        color: $white;
        padding: 0 $nav-link-padding-x;
        @extend .h4;
        margin: 0;
        font-weight: $font-weight-bold;
        @include lg(padding, $nav-link-padding-y $nav-link-padding-x);
      }
    }
  }
  .burger {
    display: none;
    @include lg(display, block);
    span {
      position: absolute;
      top: -0.5%;
      right: 0;      
      transform: translateX(100%);
      @include col-padding();
    }
    svg {
      fill: $white;
    }
  }
}