.home {
  position: relative;
  padding: $spacer-base * 3 0;
  @include md(padding, $spacer-base * 2 0);
  .row {
    justify-content: center;
  }
  &-slogan {
    position: absolute;
    top: -$spacer-base * 4;
    right: $offset_one_side;
    @include md(top, -$spacer-base * 2.5);
    @include md(max-width, 150px);
    @include sm-block(){
      right: $fields_sm;
    }
  }
  &__title {
    text-transform: uppercase;
  }
  &__desc {
    margin: $spacer-base 0;
    @include row-flex();
    &-inner {
      display: flex;
      flex-wrap: nowrap;
      @include md(flex-wrap, wrap);
      h2 {
        margin-right: $spacer-sm;
      }
    }
  }
}