{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/fontawesome.js" type="text/javascript" defer></script>
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/brands.js" data-auto-replace-svg="nest" type="text/javascript" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/luminous-lightbox@2.3.3/dist/Luminous.min.js" type="text/javascript"></script>
{% endcomment %}

<script src="https://unpkg.com/@splidejs/splide@2.4.21/dist/js/splide.min.js" type="text/javascript"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/viewerjs@1.9.2/dist/viewer.min.js" type="text/javascript"></script> -->
<script src="https://unpkg.com/lightgallery@2.1.1/lightgallery.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/lightgallery@2.1.1/plugins/autoplay/lg-autoplay.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/lightgallery@2.1.1/plugins/thumbnail/lg-thumbnail.min.js" type="text/javascript"></script>