{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<script src="https://use.fontawesome.com/releases/v5.15.3/js/fontawesome.js" type="text/javascript" defer></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/brands.js" data-auto-replace-svg="nest" type="text/javascript" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/luminous-lightbox@latest/dist/Luminous.min.js" type="text/javascript"></script>