// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
//
$white: #fff;
$gray-100: #f2f2f2;
$gray-200: #e5e5e5;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #979797;
$gray-600: #878787;
$gray-700: #495057;
$gray-800: #363636;
$gray-900: #0d0d0d;
$black: #000;

$purple: #8900ff; 

$primary: $black; 
$secondary: $purple;
$light: $gray-100;
$dark: $gray-600;

$body-bg: $white;
$body-color: $primary;

// Global

$spacer: 1rem;

$vw-320: rem-calc(320px);
$vw-576: rem-calc(576px);
$vw-768: rem-calc(768px);
$vw-992: rem-calc(992px);
$vw-1200: rem-calc(1200px);
$vw-1600: rem-calc(1600px);
$vw-1920: rem-calc(1920px);
$vw-2560: rem-calc(2560px);

// Spacing
$spacer-sm: $spacer / 2;
$spacer-base: $spacer; 
$spacer-lg: $spacer * 2;
// Links

$link-color: $secondary;
$link-decoration: none;
$link-hover-color: darken($secondary, 10%);
$link-hover-decoration: none;

// Components
//
$line-height-base: 1.3;
$line-height-lg: 1.5;
$line-height-sm: 1;

$border-width: 1px;
$border-color: $light;

$border-radius: rem-calc(10px);
$border-radius-lg: rem-calc(60px);
$border-radius-sm: rem-calc(5px);

// Typography
//
$font-family-sans-serif: "News Cycle", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$font-size-base: 1rem;
$font-size-lg: strip-unit($font-size-base) * rem-calc(40px);
$font-size-sm: strip-unit($font-size-base) * rem-calc(14px);

$h1-font-size: strip-unit($font-size-base) * rem-calc(96px);
$h2-font-size: strip-unit($font-size-base) * rem-calc(56px);
$h3-font-size: strip-unit($font-size-base) * rem-calc(30px);
$h4-font-size: strip-unit($font-size-base) * rem-calc(22px);
$h5-font-size: strip-unit($font-size-base) * rem-calc(18px) ;
$h6-font-size: $font-size-base;

$headings-font-family: $font-family-sans-serif;
$headings-margin-bottom: $spacer-sm;
$headings-font-weight: $font-weight-normal;
$headings-color: $primary;
$headings-line-height: $line-height-sm;

$hr-border-color: rgba($black, .1);
$hr-border-width: $border-width;
$hr-margin-y: $spacer-base;

$mark-padding: 0.125em;
$mark-bg: rgba($gray-400, 0);

// Navs
//
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1.25rem;
